!!!
%html
  %body
    %p
      この度はSpolyzerをご利用いただきありがとうございます。
    %p
      まだユーザー登録は完了していません。
    %p
      = link_to "このリンクをタップして、登録を完了させてください。", "spolyzerios://reset_password?reset_password_token=#{@token}"
